![img](../img/sqltrain.png)

**Note that when writing an SQL query, the argument we pass to FROM is not in single or double quotation marks (' or "). It is in backticks (`)**

![img](../img/sqltrain2.png)

In [ ]:


client = bigquery.Client()

query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

query_job = client.query(query)

us_cities = query_job.to_dataframe()

This permit to get dataframe from the us cities

In [ ]:
# What five cities have the most measurements?
us_cities.city.value_counts().head()

**select two columns: city and country**

In [ ]:
query = """
        SELECT city, country
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

**select all the columns**

In [ ]:
query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

* tripple quote tell python it is a string even if there is break in it
* SQL dont care about capitalization its only for readability

### Calculate cost of a query

In [ ]:
# Query to get the score column from every row where the type column has value "job"
query = """
        SELECT score, title
        FROM `bigquery-public-data.hacker_news.full`
        WHERE type = "job" 
        """

# Create a QueryJobConfig object to estimate size of query without running it
dry_run_config = bigquery.QueryJobConfig(dry_run=True)

# API request - dry run query to estimate costs
dry_run_query_job = client.query(query, job_config=dry_run_config)

print("This query will process {} bytes.".format(dry_run_query_job.total_bytes_processed))
# ! print the number of bytes processed

`You can also specify a parameter when running the query to limit how much data you are willing to scan. Here's an example with a low limit.`

In [ ]:
ONE_MB = 1000*1000
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_MB)

# Set up the query (will only run if it's less than 1 MB)
safe_query_job = client.query(query, job_config=safe_config)

# API request - try to run the query, and return a pandas DataFrame
safe_query_job.to_dataframe()

# COUNT() function

return the number of entries in that column.

![img](../img/sqltrain3.png)

# GROUP BY

GROUP BY takes the name of one or more columns, and treats all rows with the same value in that column as a single group.

![img](../img/sqltrain4.png)

# GROUP BY ... HAVING

HAVING is used in combination with GROUP BY to ignore groups that don't meet certain criteria.

![img](../img/sqltrain5.png)

# Aliasing and other improvements

Imrove readability of query and it also scans less data than if supplied column names (making it faster and using less of your data access quota).

In [ ]:
query_improved = """
                 SELECT parent, COUNT(1) AS NumPosts
                 FROM `bigquery-public-data.hacker_news.comments`
                 GROUP BY parent
                 HAVING COUNT(1) > 10
                 """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query_improved, job_config=safe_config)

# API request - run the query, and convert the results to a pandas DataFrame
improved_df = query_job.to_dataframe()

# Print the first five rows of the DataFrame
improved_df.head()

**And this query won't work, because the author column isn't passed to an aggregate function or a GROUP BY clause:**

In [ ]:
query_bad = """
            SELECT author, parent, COUNT(id)
            FROM `bigquery-public-data.hacker_news.comments`
            GROUP BY parent
            """

# ORDER BY

![img](../img/sqltrain6.png)
![img](../img/sqltrain7.png)
![img](../img/sqltrain8.png)

# EXTRACT

![img](../img/sqltrain9.png)
![img](../img/sqltrain10.png)
![img](../img/sqltrain11.png)